/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
    padding: 10px 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    color: transparent !important;
    text-transform: none;
    background-color: transparent !important;
    border: 0;
    margin: 0;
    overflow: visible;
    min-width: 0;
}

  .hamburger:hover {
    opacity: 0.7; 
}

  .hamburger.is-active:hover {
    opacity: 0.7; 
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000; 
}

.hamburger-box {
    width: 35px;
    height: 5px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
  
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}

.hamburger-inner::before {
    top: -7px; 
}

.hamburger-inner::after {
    bottom: -7px; 
}


/* Vortex */

.hamburger--vortex .hamburger-inner {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); 
}

.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.5s;
    transition-timing-function: linear; 
}

.hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; 
}

.hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; 
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); 
}

.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; 
}

.hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; 
}

.hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); 
}