@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

html, body {
    height: 100%;
	overflow: hidden;
    background: #fff;
    margin: 0;
}

.page {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}
    
.current {
    opacity: 1;
}
    
.scene {
     width: 100%;
     height: 100%;
     background: #000;
}
            
.page.active {
    z-index: 5;
    opacity: 1;
}   
             
.heading {
    text-align: center;
    font-size: 60px;
    color: #558e56;
/*    color: #000;*/
/*    font-family: 'Cormorant Garamond', serif;*/
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    margin-top: 40px;
}

a, a:link, a:visited, a > span {
  position: relative;
  color:#419d78;
  text-decoration: none;
}

a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

p {
    margin-bottom: 18px;
}

.row {
    margin-bottom: 25px;
}

.center {
    text-align: center;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.no-margin {
    margin: 0;
}

.content {
    position: absolute;
    background-color: #fffaf1;
    box-shadow: 0px 5px 12px 5px rgb(0 0 0 / .3);
}   

.page:nth-child(1) {
/*     background: #ecb258;
    background: url(../images/wed/all_leaves.png) no-repeat bottom;
    background-size: cover;*/
    background-color: #fec6c6;
}

.page:nth-child(2) {
/*    background: #d0fabb;*/
    background: #fbea9e;
}

.page:nth-child(3) {
    background: #fa9089;
/*    background: #67d0ff;*/
}

.page:nth-child(4) {
    background: #fed866;
/*     background: #fdf878;*/
}

.page:nth-child(5) {
     background: #f99177;
}

.page:nth-child(6) {
/*    background: #c8d2f6;*/
    background: #fab36b;
}


#page-2 .content,  #page-4 .content,  #page-6 .content {
    border: 5px solid #f96574 !important;

}  

#page-3 .content, #page-5 .content{
    border: 5px solid #ffd54d !important;
} 


/* =============== Header & Navigation ==================== 
   ========================================================*/

#clockdiv {
    color: #fbea9e;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    position: fixed;
    top: 0px;
    left: 32px;
    z-index: 99999;
}

#clockdiv .hashtag {
    float: none !important;
    padding: 0 !important;
    margin: 0;
    background: transparent;
    color: #000;
}

#clockdiv > div {
    padding: 0px 5px;
    border-radius: 0;
    background: #558e56;
    display: block;
    float: left;
    min-width: 75px;
    margin-right: 5px;
    margin-top: 5px;
}

#clockdiv span {
    color: #fff;
}

.nav-panel {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 75px;
    background-color: rgb(255 255 255 / .5);
}
            
nav {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 9998;
}
            
.nav-panel ul {
    list-style-type: none;
    margin-bottom: 0;
}
            
.nav-panel ul .nav-btn {
    cursor: pointer;
    color: #000;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    width: 125px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}

.nav-panel ul .nav-btn:nth-of-type(2) {
    width: 165px;
}

.nav-panel ul .nav-btn:nth-of-type(3) {
    width: 85px;
}

.nav-panel ul .nav-btn:nth-of-type(4) {
    width: 110px;
}

.nav-panel ul .nav-btn:nth-of-type(5) {
    width: 60px;
}

.nav-panel ul .nav-btn:nth-of-type(6) {
    width: 85px;
}

.nav-panel ul .nav-btn:hover, .nav-panel ul .nav-btn.active {
    color: #569056;
    font-weight: 700;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
    
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #558e56;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before, .nav-btn.hvr-underline-from-center.active:before {
  left: 10px;
  right: 10px;
}


.menu.mobile {
    position: absolute;
    top: 0;
    z-index: 99999;
    right: 0;
}

.nav-panel.mobile {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99998;
    height: 100%;
    background-color: #fff;
}

.nav-panel.mobile nav {
    position: relative;
    top: 110px;
    right: auto;
    margin: 0 auto;
    left: auto;
}

.nav-panel.mobile  ul {
    width: 100%;
}

.nav-panel.mobile  ul .nav-btn {
    margin: 0 auto 50px;
    display: block;
}


/* =============== Home/Our Story styles ========================= 
   ========================================================*/

#page-1 .content {
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    background-color: #fffaf1;
    padding: 0px 30px;
    width: 50%;
/*    min-height: 700px;*/
    margin-left: -25%;
    margin-top: -330px;
/*    border: 5px solid #ffd54d;*/
    box-shadow: 0px 5px 12px 5px rgb(0 0 0 / .3);
    max-height: 740px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: 25px solid #fffaf1;
    outline: thick solid #ffd54d;
}   

#page-1 .content::-webkit-scrollbar {
    display: none;
}
            
#page-1.active .content {
   -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

#page-1.active #home_bg {
    -webkit-animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
	        animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#page-1.active #home_bg_top_left {
    position: absolute;
    top: 0;
    left: 12%;
    -webkit-animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
	        animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
}

#page-1.active #home_bg_top_right {
    position: absolute;
    top: 30px;
    right: 12%;
    -webkit-animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
	        animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
}

#page-1.active #home_bg_bottom_left {
    position: absolute;
    bottom: -160px;
    left: 12%;
    -webkit-animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
	        animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
}

#page-1.active #home_bg_bottom_right {
    position: absolute;
    bottom: -160px;
    right: 12%;
    -webkit-animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
	        animation: fade-in-fwd 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.05s both;
}

#page-1 .heading {
    margin-top: 15px;
}

#scroll {
    position: absolute;
    top: 91%;
    right: 27%;
    z-index: 599;
}

#scroll:hover {
    cursor: pointer;
}

#scroll i {
    color: #bcbcbc;
}

.down {
    transition-duration: 0.8s;
    transition-property: transform;
    -ms-transform: rotate(0deg); /* IE 9 */
    -moz-transform: rotate(0deg); /* Firefox */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
    -o-transform: rotate(0deg); /* Opera */
    transform: rotate(0deg);    
}
.up {
    transition-duration: 0.8s;
    transition-property: transform;
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
    transform: rotate(180deg);    
}

#page-1 .content p {
    text-align: center;
    font-size: 22px;
}

/* =============== When & Where styles ========================= 
   ========================================================*/

 

#page-2 .content {
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    background-color: #fffaf1;
    width: 50%;
    min-height: 700px;
    margin-left: -25%;
    margin-top: -330px;
    border: 5px solid #f96574;
    box-shadow: 0px 5px 12px 5px rgb(0 0 0 / .3);
}   
            
#page-2.active .content {
   	-webkit-animation: slide-in-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
	        animation: slide-in-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
}

.mon_leaf_lg {
    left: -215px;
    position: absolute;
    z-index: 300;
    bottom: -75px;
}

.orchid {
    left: -30px;
    position: absolute;
    z-index: 300;
    bottom: -750px;
}

.button:hover i {
    -webkit-animation: arrow-slide-right 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: arrow-slide-right 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
                        

/* =============== Travel styles ========================= 
   ========================================================*/


#page-3 .content.right {
    position: absolute;
    z-index: 499;
    top: 50%;
    left: auto;
    right: 12%;
    width: 36%;
    min-height: 610px;
    margin-top: -305px;
    border: 5px solid #fce67e;
}            
            
#page-3 .content.left {
    position: absolute;
    z-index: 499;
    top: 50%;
    left: 12%;
    right: auto;
    width: 36%;
    min-height: 610px;
    margin-top: -305px;
    border: 5px solid #fce67e;
}            
      
#page-3.active .content.left {            
    	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;        
}

#page-3.active .content {
   -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

#page-3 .content.mobile {
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    background-color: #fffaf1;
    border: 5px solid #fce67e;
}      

#page-3 .leaf_left {
    left: -60px;
    position: absolute;
    z-index: 600;
    top: 0px;
}

#page-3 .leaf_left img {
    max-width: 425px;
}

#page-3 .leaf_right {
    right: -60px;
    position: absolute;
    z-index: 600;
    bottom: -5px;
}

#page-3 .leaf_right img {
    max-width: 440px;
}

/* =============== Registry styles ========================= 
   ========================================================*/



#page-4 .content {
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    background-color: #fffaf1;
    width: 50%;
    min-height: 700px;
    margin-left: -25%;
    margin-top: -330px;
    border: 5px solid #fa9d5a;
    box-shadow: 0px 5px 12px 5px rgb(0 0 0 / .3);
}   
            
#page-4.active .content {
   	-webkit-animation: slide-in-fwd-center 1s ease-out 0.5s both;
	        animation: slide-in-fwd-center 1s ease-out 0.5s both;
}

.registry_leaf_center {
    z-index: 300;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.registry_leaf_center_overlay {
    z-index: 700;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

/* =============== RSVP styles ========================= 
   ========================================================*/


#page-5 .content {
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    background-color: #fffaf1;
    width: 50%;
    min-height: 740px;
    margin-left: -25%;
    margin-top: -330px;
    border: 5px solid #50efd2;
    box-shadow: 0px 5px 12px 5px rgb(0 0 0 / .3);
    
}   
            
#page-5.active .content {
   	-webkit-animation: puff-in-center 0.6s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.3s both;
	        animation: puff-in-center 0.6s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.3s both;
}

.iframe_container {
    width: 775px;
    overflow: hidden;
    position: absolute;
    z-index: 500;
    top: 62%;
    left: 50%;
    background-color: #fffaf1;
    min-height: 606px;
    margin-left: -50%;
    margin-top: -330px;
}

iframe {
   width: 110%;
    height: 602px;
    overflow: auto;
}

.palm_leaf {
    right: -65px;
    position: absolute;
    z-index: 400;
    bottom: -55px;
}

.flowers_right {
    z-index: 600;
    position: absolute;
    bottom: -20px;
    right: -60px; 
}

/* =============== Photos styles ========================= 
   ========================================================*/



#page-6 .content {
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    background-color: #fffaf1;
    width: 50%;
    min-height: 760px;
    margin-left: -25%;
    margin-top: -330px;
    border: 5px solid #fa9d5a;
    box-shadow: 0px 5px 12px 5px rgb(0 0 0 / .3);
}   
            
#page-6.active .content {
   	-webkit-animation: slide-in-fwd-center 1s ease-out 0.5s both;
	        animation: slide-in-fwd-center 1s ease-out 0.5s both;
}

.flower_left {
    position: absolute;
    bottom: -120px;
    left: -200px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 45px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fffaf1;
}

/* Modal Content */
.photo_content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: #000;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.slide {
    display: none;
    text-align: center;
}

.prev_photo,
.next_photo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0;
    user-select: none;
    -webkit-user-select: none;
}

.next_photo {
    right: 0;
    border-radius: 0;
}

.prev_photo:hover,
.next_photo:hover {
     background-color: rgba(0, 0, 0, 0.05);
     color: #000;
}

.slide_count {
    color: #000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img.hover_shadow {
    transition: 0.3s;
}

.hover_shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.leaf_center {
    z-index: 300;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

/* =============== Media Queries ========================= 
   ========================================================*/
@media only screen and (max-width: 1300px){

    .content {
        width: 80% !important;
        margin-left: -40% !important;
    }
    
    #scroll {
       right: 12% !important; 
    }
    
}
    
@media only screen and (max-width: 1024px){
    
}

@media only screen and (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
    
    .scene {
        overflow: hidden;
    }

    .content {
        width: 90% !important;
        margin-left: -45% !important;
        min-height: 690px !important;
        margin-top: -300px !important;
    }
    
    #page-1 .content {
        padding: 0px;
    }
    
    #page-1 .heading {
        margin-top: 0;
    }
    
    .heading {
        font-size: 42px;
    }
    
    #page-1 .content p {
        font-size: 18px;
    }
    
    #page-3 .leaf_left, #page-3 .leaf_right {
        z-index: 300;
    }

    #page-5 .flowers_right {
        z-index: 300;
    }
    
    #page-5 iframe {
        height: 575px;
    }
    
    #page-5 .iframe_container {
        width: 305px;
        min-height: 585px;
    }
    
    #page-6 .content {
        padding: 0px 10px;
        max-height: 650px;
        overflow-y: scroll;
    }
    
    #page-6 .content .three.columns {
        margin-left: 0 !important;
    }
    
    
    
    #clockdiv {
        top: 25px;
        z-index: 9999;
    }
}

@media only screen and (max-width: 540px) {

}